In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

https://www.kaggle.com/competitions/icr-identify-age-related-conditions/data

In [11]:
train = pd.read_csv('train.csv')
train.shape

(617, 58)

In [7]:
pipe = Pipeline(steps=[("one", OneHotEncoder(drop='first'))])

In [13]:
pd.DataFrame.sparse.from_spmatrix(pipe.fit_transform(train.drop(columns=['Class'])))

,0,1,2,3,4,5,6,7,8,9,...,23575,23576,23577,23578,23579,23580,23581,23582,23583,23584
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [23]:
pipe.get_feature_names_out()

AttributeError: 'Pipeline' object has no attribute 'get_feature_names_out'

In [14]:
X = [['male', 'from US', 'uses Safari'], ['female', 'from Europe', 'uses Firefox']]

In [16]:
pd.DataFrame(X)

        0            1             2
0    male      from US   uses Safari
1  female  from Europe  uses Firefox

In [18]:
pd.DataFrame.sparse.from_spmatrix(pipe.fit_transform(X))

     0    1    2
0  1.0  1.0  1.0
1  0.0  0.0  0.0

In [22]:
pd.DataFrame.sparse.from_spmatrix(OneHotEncoder(drop='first').fit_transform(X))

     0    1    2
0  1.0  1.0  1.0
1  0.0  0.0  0.0

In [24]:
import sklearn
sklearn.__version__

'0.24.2'